@import "tailwindcss";



html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
  cursor: url('assets/img/cursor.webp'), auto;
  overflow-x: hidden;
}

.selected{
  background-color: rgba(255, 255, 255, 0.224);
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.maze-block {
  background-color: rgba(209, 213, 219, 0.096);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.glow {
  background-color: rgba(255, 0, 0, 0.2); 
  box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popIn {
  animation-name: popIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.feature-card {
  transform-style: preserve-3d;
  transition: transform 0.2s ease;
}

.feature-card:hover {
  box-shadow: 0 0 30px 10px #f87171;
  border-color: #f87171;
}

.sign{
  background-image: url('./assets/img/bg3.png');
}


.call-btn {
  position: relative;
  padding: 0.6rem; /* reduced from 1rem */
  background-color: #991b1b;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-btn .icon {
  font-size: 1rem; /* reduced from 1.5rem */
  z-index: 10;
  position: relative;
}

.call-btn .glow-circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(239, 68, 68, 0.3), transparent);
  border-radius: 9999px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.call-btn:hover {
  background-color: #b91c1c;
}

.call-btn:hover .glow-circle {
  opacity: 1;
}




